Data sampling is the essential part of majority of data experiments. As performing analysis over large datasets is complicated, we select samples from the population and perform analysis on that. Sampling determines the accuracy of the survey or the experiment.

Some of the important sampling techniques are:
Random Sampling
Systematic Sampling
Cluster Sampling
Weighted Sampling
Stratified Sampling

The population is the set of all observations (individuals, objects, events, or procedures) and is usually very large and diverse, whereas a sample is a subset of observations from the population that ideally is a true representation of the population. That is, the sample needs to be unbiased.

Random Sampling

In [1]:
import numpy as np
import pandas as pd

# generating population data that follows normal distribution
mu = 5
std = 1
size = 1000
pop_df = np.random.normal(mu,std,size)

# function to create random sampling

def random_sampling(df,n):
    sample = np.random.choice(df,replace = False, size = n)
    return sample

random_sampling(pop_df,50)

array([5.97120831, 3.67513407, 6.18362973, 6.22591168, 4.40157758,
       5.24633698, 5.53990783, 4.20620036, 5.16950445, 4.63199614,
       6.2752288 , 3.30924757, 5.67017935, 3.89758125, 3.62985879,
       5.53339762, 4.59650103, 6.34349795, 5.50960342, 4.47195982,
       5.22024302, 3.46677779, 4.80841232, 6.15280128, 4.96316686,
       5.94139799, 5.70180792, 4.6744479 , 4.06523506, 5.29141438,
       5.9529535 , 3.45216713, 3.30810869, 5.28561252, 6.10383671,
       6.25838341, 4.87195535, 6.07879242, 5.25546611, 3.22418814,
       4.54340823, 5.51011749, 3.96097747, 3.62555636, 5.31916386,
       4.31048345, 2.94426384, 5.20891026, 4.85989171, 5.13988657])

Systematic Sampling

In [2]:
import numpy as np
import pandas as pd

# generating population data that follows normal distribution
mu = 5
std = 1
size = 1000
pop_df = np.random.normal(mu,std,size)

#function for systematic sampling

def systematic_sampling(df,sample_size):
    step = int(size/sample_size)
    id = pd.Series(np.arange(1,len(df)+1))
    df = pd.Series(df)
    main_df = pd.concat([id,df],axis=1)
    main_df.columns = ['id','data']
    main_df.set_index('id')
    sample_indexes = np.arange(0,len(df),step)
    sample = main_df.iloc[sample_indexes]
    
    return sample

systematic_sampling(pop_df,10)

      id      data
0      1  6.625095
100  101  2.621957
200  201  5.575998
300  301  5.117848
400  401  4.280995
500  501  5.224076
600  601  4.896387
700  701  5.306422
800  801  5.897487
900  901  6.125003

Clustered Sampling

In [3]:
import numpy as np
import pandas as pd

#create a dataframe
price = pd.Series(np.random.uniform(1,5,size = 1000))
id = pd.Series(np.arange(0,len(price),1))
typeofevent = pd.Series(np.random.choice(['type1','type2','type3'],size = len(price)))
click = pd.Series(np.random.choice([0,1],size = len(price)))

df= pd.concat([id,price,typeofevent,click],axis = 1)
df.columns = ['id','price','typeofevent','click']


def clustered_sampling(df,clustersize,clusters_req):
    #clusters_req = no of clusters we want 
    k = int(len(df)/clustersize)
    data = None
    
    for i in range(k):
        sample_k = df.sample(clustersize)
        sample_k["cluster"] = np.repeat(i,len(sample_k))
        df=df.drop(index = sample_k.index)
        
        data = pd.concat([data,sample_k],axis = 0)
    
    req = np.random.randint(0,k,size = clusters_req)
    
    
    sample = data[data.cluster.isin(req)]
    return sample

clustered_sampling(df,100,3)

      id     price typeofevent  click  cluster
23    23  4.366211       type2      1        1
363  363  4.013102       type2      0        1
790  790  2.325457       type2      1        1
602  602  2.734934       type3      1        1
769  769  2.123602       type1      1        1
..   ...       ...         ...    ...      ...
61    61  3.058306       type3      1        7
878  878  1.894277       type2      0        7
772  772  3.645369       type2      0        7
33    33  3.123653       type3      0        7
298  298  4.339941       type2      1        7

[300 rows x 5 columns]

Weighted Sampling

In [14]:
def weighted_sampling(df,n):
    
    def get_class_prob(x):
        weight = int(np.rint(n* (len(x[x.click!=1])/(len(df[df.click!=1])))))
        sample_x = x.sample(weight).reset_index(drop = True)
        return (sample_x)
    
    weighted_sample = df.groupby('typeofevent').apply(get_class_prob)
    print(weighted_sample["typeofevent"].value_counts())
    print(weighted_sample["click"].value_counts())
    return weighted_sample
                         
wsample = weighted_sampling(df,100)
        
wsample.reset_index(drop=True)

type1    34
type3    34
type2    32
Name: typeofevent, dtype: int64
0    56
1    44
Name: click, dtype: int64

      id     price typeofevent  click
0   3857  4.401143       type1      0
1   8438  3.824128       type1      1
2   9762  4.208058       type1      0
3   8872  4.188617       type1      1
4   3494  1.344143       type1      0
..   ...       ...         ...    ...
95  5212  4.524925       type3      0
96  6233  1.558027       type3      0
97  2009  1.782186       type3      1
98  6535  3.384613       type3      1
99  1782  2.326842       type3      0

[100 rows x 4 columns]

Statified Sampling

In [12]:
import numpy as np
import pandas as pd

#create a dataframe
price = pd.Series(np.random.uniform(1,5,size = 10000))
id = pd.Series(np.arange(0,len(price),1))
typeofevent = pd.Series(np.random.choice(['type1','type2','type3'],size = len(price)))
click = pd.Series(np.random.choice([0,1],size = len(price)))

df= pd.concat([id,price,typeofevent,click],axis = 1)
df.columns = ['id','price','typeofevent','click']

In [23]:
def stratified_sampling(df,sample_size, no_of_clusters_req):
    N=len(df)
    k = int(N/sample_size) #no of clusters in which data should be divided into
    print(N,k)
    
    def weighted_sampling(df,n):
        def get_class_prob(x):
            weight = int(np.rint(n* (len(x[x.click!=1])/(len(df[df.click!=1])))))
            sample_x = x.sample(weight)
            return (sample_x)
    
        weighted_sample = df.groupby('typeofevent').apply(get_class_prob)
        # print(weighted_sample["typeofevent"].value_counts())
        # print(weighted_sample["click"].value_counts())
        return weighted_sample
    
    stratas = None
    for i in range(k):
        sample_k = weighted_sampling(df,sample_size).reset_index(drop=True)
        sample_k["cluster"] = np.repeat(i,len(sample_k))
        
        df.drop(index = sample_k.index)
        stratas = pd.concat([stratas,sample_k],axis = 0)
    
    #print(data)
    selected_strata_clusters= np.random.randint(0,k,size = no_of_clusters_req)
    
    
    stratified_samples = stratas[stratas.cluster.isin(selected_strata_clusters)]
    return stratified_samples

st_sample = stratified_sampling(df,100,4)
    
st_sample

10000 100

      id     price typeofevent  click  cluster
0   5629  1.582319       type1      1        5
1   3211  2.288495       type1      0        5
2   9726  3.514981       type1      0        5
3    822  2.181191       type1      0        5
4   5042  1.672747       type1      0        5
..   ...       ...         ...    ...      ...
95  4172  1.298353       type3      1       22
96  8697  1.982652       type3      0       22
97   243  1.821626       type3      0       22
98   318  4.154969       type3      1       22
99  6228  2.085791       type3      1       22

[400 rows x 5 columns]

In [8]:
def get_startified_sample(df,n,num_clusters_needed):
    N = len(df)
    num_obs_per_cluster = int(N/n)
    K = int(N/num_obs_per_cluster)

    def get_weighted_sample(df,num_obs_per_cluster):
        def get_sample_per_class(x):
            n_x = int(np.rint(num_obs_per_cluster*len(x[x.click !=0])/len(df[df.click !=0])))
            sample_x = x.sample(n_x)
            return(sample_x)
        weighted_sample = df.groupby("typeofevent").apply(get_sample_per_class)
        return(weighted_sample)

    stratas = None
    for k in range(K):
        weighted_sample_k = get_weighted_sample(df,num_obs_per_cluster).reset_index(drop = True)
        weighted_sample_k["cluster"] = np.repeat(k,len(weighted_sample_k))
        stratas = pd.concat([stratas, weighted_sample_k],axis = 0)
        df.drop(index = weighted_sample_k.index)
    selected_strata_clusters = np.random.randint(0,K,size = num_clusters_needed)
    stratified_samples = stratas[stratas.cluster.isin(selected_strata_clusters)]
    return(stratified_samples)

sample = get_startified_sample(df = df,n = 100,num_clusters_needed = 2)
len(sample)

200